@keyframes puls_animation {
  0% {
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.966);
  }
  30% {
    box-shadow: 0 0 45px rgba(26, 49, 54, 0.432);
  }
  60% {
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.726);
  }
  100% {
    box-shadow: 0 0 0 rgba(26, 49, 54, 0.432);
  }
}

.portfolio-wrapper {
  .avatar-wrapper {
    .MuiAvatar-root {
      width: 150px;
      height: 150px;
      cursor: pointer;
      font-size: 5rem;
    }
    .MuiAvatar-root:hover {
      -webkit-animation: 1s linear 0s infinite alternate puls_animation;
      animation: 1s linear 0s infinite alternate puls_animation;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .my-name {
      font-family: 'Festive', cursive;
      white-space: nowrap;
    }
  }
}

// Responsiveness
@media (max-width: 500px) {
  .portfolio-wrapper {
    .avatar-wrapper {
      .MuiAvatar-root {
        width: 120px;
        height: 120px;
      }
      .my-name {
        font-size: 3rem;
      }
    }
  }
}
