.contacts {
  max-width: 800px;
  min-height: 350px;
  word-wrap: break-word;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #fff;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  backdrop-filter: blur(5px);
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
  position: relative;
  padding: 1rem;

  .contacts__info {
    text-align: center;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 1.5;
  }

  .social-media-icons {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    li {
      padding: 2rem;
      border: 1px solid rgba(255, 255, 255, 0.9);
      border-right: 1px solid rgba(255, 255, 255, 0.7);
      border-bottom: 1px solid rgba(255, 255, 255, 0.7);
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      cursor: pointer;
      list-style: none;
      position: relative;
      backdrop-filter: blur(10px);
      background: rgba(202, 204, 216, 0.1);
      overflow: hidden;
      top: -50px;
      position: relative;
      z-index: 2;
      outline: none;
      a {
        text-decoration: none;
        color: #fff;
      }
    }

    li::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.623);
      width: 35px;
      height: 100%;
      transition: 0.5s;
      transform: skewX(45deg) translateX(150px);
      -webkit-transform: skewX(45deg) translateX(150px);
      -moz-transform: skewX(45deg) translateX(150px);
      -ms-transform: skewX(45deg) translateX(150px);
      -o-transform: skewX(45deg) translateX(150px);
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;
    }

    li:hover,
    li:focus {
      &::before {
        transform: skewX(45deg) translateX(-150px);
        -webkit-transform: skewX(45deg) translateX(-150px);
        -moz-transform: skewX(45deg) translateX(-150px);
        -ms-transform: skewX(45deg) translateX(-150px);
        -o-transform: skewX(45deg) translateX(-150px);
      }
    }
  }
}

// Social media icons color
.fa-twitter {
  color: #55acee;
}
.fa-facebook {
  color: #3b5998;
}
.fa-whatsapp {
  color: #4dc247;
}
.fa-github {
  color: #000000;
}
.fa-linkedin {
  color: #007bb5;
}
.fa-instagram {
  color: #bc1888;
}
