// importing css font
@import url('https://fonts.googleapis.com/css2?family=Festive&family=Quicksand&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  transition: all 150ms ease-in-out;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
}

::selection {
  background-color: lightblue;
}

html,
body {
  font-size: 62.5%;
  transition: initial;
  -webkit-transition: initial;
  -moz-transition: initial;
  -ms-transition: initial;
  -o-transition: initial;
}

body {
  font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2.5rem;
  min-height: 100vh;
  position: relative;
}

.portfolio-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

@import './background';
@import './avatar';
