// importing css font
@import url('https://fonts.googleapis.com/css2?family=Festive&family=Quicksand&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  transition: all 150ms ease-in-out;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
}

::selection {
  background-color: lightblue;
}

html,
body {
  font-size: 62.5%;
  transition: initial;
  -webkit-transition: initial;
  -moz-transition: initial;
  -ms-transition: initial;
  -o-transition: initial;
}

body {
  font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2.5rem;
  position: relative;
  min-height: 100vh;
}

.card-wrapper {
  width: 100%;
  height: 100%;
  // because it's a single card
  display: grid;
  place-items: center;
}

.portfolio-wrapper {
  // margin-top: 4rem;
}

@import './background';
@import './avatar';
@import './contacts';
